* { box-sizing: border-box; }

body {background-color: lightblue;
      margin: 0;
      padding: 0;

    }

#main {
  position: relative;
  margin: 0 auto;
  width: 90vw;
  text-align: center;
}

#avengers {width: 950px;
        height:580px;
        z-index: 1;}



.cabecera {border: thin solid;
      border-color: #6e8dff;
      text-align: center;
      margin-bottom: 1em;
      font-family: arial;
      font-style: italic;
      font-weight: bold;
      background-color: #6e8dff;
      top: 0px;
      z-index: 3;}

      .hhover {text-align: center;
                  font-family: arial;
                  font-style: italic;
                  font-weight: bold;
                  background-color: blue;
                  position: sticky;
                  z-index: 1}

.body {border: 3em;
        background-color: white;
        margin: 5em;
        padding: 5em;
        /*top: 670px;
        position: absolute;
        /* left: 360px;*/
        margin: 0 auto;
        width: 950px;
        height:auto;
      margin-top: -80px;}

.titulo {background-color: white;
        margin: 3em;
        padding: 3em;
        position: relative;
        /*top: 590px;
        left: 565px;*/
        width: 500px;
        height:auto;
        text-align: center;
        font-family: Arial;

        margin: 0 auto;
        margin-top: -100px;
        z-index: 3 !important;
      }



      /* MENU */

              .hhover a {
                text-decoration: none;
                color: white;
                font-size: 20px;
                padding: 15px;
                display:inline-block;

              }
              ul {
                display: inline;
                margin: 0;
                padding: 0;
              }
              ul li {display: inline-block;}
              ul li:hover {background: #555;}
              ul li:hover ul {display: block;}
              ul li ul {
                position: absolute;
                width: 200px;
                display: none;
              }
              ul li ul li {
                background: #555;
                display: block;
              }
              ul li ul li a {display:block !important;}
              ul li ul li:hover {background: #666;}




@media only screen and (max-width: 1000px) {

  * { box-sizing: border-box; }

#main {position: relative;
margin: 0 auto;
width: 100vw;
text-align: center;}

#avengers {width: 100%; margin-top: -31px;}

.body {width: 100%; margin-top: -85px;}
.titulo {font-size: 25px; padding: 1em;}

.cabecera {font-size: 30px; width: 100%;}

.hhover { width: 100%;}
.hhover ul { width: 100%; }
.hhover ul li { width: 100%; }
.hhover a { width: 100%; }

}

/*prueba*/

.pictures {z-index: 3;}


.slider {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
  width: 950px;
  height:580px;
  z-index: -1;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
