body {background-image: linear-gradient(#272630, #29205c, #08004f);
      margin: 0em;}

.cabecera {border: thin solid;
      border-color: #ff6969;
      text-align: center;
      margin-bottom: 1em;
      font-family: arial;
      font-style: italic;
      font-weight: bold;
      background-color: #ff6969;
      position: sticky;
      top: 0px;
      z-index: 3;}

.hhover {text-align: center;
            font-family: arial;
            font-style: italic;
            font-weight: bold;
            background-color: red;
            position: sticky;}

.img {height: 400px;
      padding: 1em;}

.img-falcon {height: 250px;
              padding: 1em;}

.box {border: 3px solid;
      text-align: center;
      border-radius: 2.9em;
      font-family: arial;
      grid-column: 1 / 2;}

.header-box {border-bottom: 3px solid;
            text-align: center;
            font-style: italic;
            font-weight: bold;
            border-top-left-radius: 1.5em;
            border-top-right-radius: 1.5em;
            font-family: fantasy;
            padding: 0.5em;
            font-size: 27px;
            font-family: inherit;}

.body-box {display: grid;
          font-size: 25px;
          text-align: left;}

.body-box-1 {padding: 0.5em;
          margin: 10px;
          grid-column: 1;
          grid-row: 1 / 4}

.body-box-2 {padding: 0.5em;
            border: 3px solid;
            margin: 10px;
            grid-column: 2;
            grid-row: 2 / 4;
            border-radius: 0.5em;}

.body-box-image {font-size: 3em;}


.orange-box {color: orange;}
.orange-box > .header-box {background-color: #ffce73}

.blue-box {color: blue;}
.blue-box > .header-box {background-color: #96ecff }

.red-box {color: red;}
.red-box > .header-box {background-color: #ff9696 }

.green-box {color: green;}
.green-box > .header-box {background-color: #9eff69 }

.pink-box {color: #ff73ad;}
.pink-box > .header-box {background-color: pink }

.grey-box {color: grey;}
.grey-box > .header-box {background-color: #c4c4c4 }

.avengers {display: grid;
                border: 10px solid; color: #6145ff;
                padding: 3em;
                margin: 3em;
                border-radius: 5em;
              background-color: white;}

.comic {grid-column: 3;
                height: auto;
                width: 350px;
                position: static;
                right: 100px;}


.film {grid-column: 4;
              height: auto;
              width: 350px;
              position: static;
              right: 50px;}

.diseño {border: 3px solid; color: black;
        font-family: arial;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        border-radius: 3em;}

@media only screen and (max-width: 1600px) {

          .film {
            grid-column: 2;
            grid-row: 1;
          }
          .comic {
            grid-column: 2;
            grid-row: 2;
          }
          .box {
            grid-column: 1;
            grid-row: 1/3;
          }
          .body-box-1 {
            grid-column: 1;
            grid-row: 1;
          }
          .body-box-2 {
            grid-column: 1;
            grid-row: 2;
          }
        }

        @media only screen and (max-width: 1000px) {

          .film {
            grid-column: 1;
            grid-row: 3;
          }
          .comic {
            grid-column: 2;
            grid-row: 3;
          }
          .box {
            grid-column: 1/3;
            grid-row: 1/3;
          }
          .body-box-1 {
            grid-column: 1/3;
            grid-row: 1/3;
          }
          .body-box-2 {
            grid-column: 2/3;
            grid-row: 3/4;
          }
        }


        div a {
          text-decoration: none;
          color: white;
          font-size: 20px;
          padding: 15px;
          display:inline-block;

        }
        ul {
          display: inline;
          margin: 0;
          padding: 0;
        }
        ul li {display: inline-block;}
        ul li:hover {background: #555;}
        ul li:hover ul {display: block;}
        ul li ul {
          position: absolute;
          width: 200px;
          display: none;
        }
        ul li ul li {
          background: #555;
          display: block;
        }
        ul li ul li a {display:block !important;}
        ul li ul li:hover {background: #666;}
